* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: rgb(207, 204, 255);
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#list {
  width: 100%;
  margin-top: 10px;
}
#list span:nth-child(1) {
  width: 120%;
  font-size: 1.2rem;
  padding: 5px 2px;
  text-transform: capitalize;
}
#list span:nth-child(2) {
  width: 50%;
  margin-right: 8px;
  border-radius: 6px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.504);
  backdrop-filter: blur(8px);
  font-size: 1rem;
  padding: 4px;
}

.minus {
  border: solid 3px rgb(255, 159, 159);
  background-color: rgb(255, 209, 209);
  border-radius: 8px;
  padding: 2px 10px;
  margin: auto;
  width: 80%;
  margin-top: 6px;
  list-style: none;
  color: black;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plus {
  border: solid 3px rgb(172, 255, 172);
  background-color: rgb(194, 253, 194);
  border-radius: 8px;
  padding: 2px 10px;
  margin: auto;
  width: 80%;
  margin-top: 6px;
  list-style: none;
  color: black;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.neutral {
  border: solid 3px rgb(255, 255, 255);
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  padding: 2px 10px;
  width: 100%;
  margin-top: 6px;
  list-style: none;
  color: black;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.del-btn {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgba(18, 15, 47, 0.568);
  padding: 4px 8px;
  border-radius: 10px;
  cursor: pointer;
  border: solid thin rgb(72, 72, 72);
}
.del-btn:hover {
  background-color: rgba(243, 239, 239, 0.59);
}
.wrapper {
  width: 60%;
  border-radius: 16px;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  background-color: rgb(1, 1, 67);
  color: rgb(167, 159, 240);
}
h3 {
  color: white;
}
.buttons #income-btn {
  background-color: rgb(172, 255, 172);
  padding: 5px 12px;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  color: black;
}
.buttons #expense-btn {
  background-color: rgb(255, 159, 159);
  padding: 5px 12px;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  color: black;
}
.myname {
  margin: 15px;
}

input {
  width: 50%;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
}
.balance-plus {
  color: rgb(172, 255, 172);
}
.balance-minus {
  color: rgb(255, 159, 159);
}
.income-plus {
  color: rgb(172, 255, 172);
}
.expense-minus {
  color: rgb(255, 159, 159);
}
@media (max-width: 600px) {
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  input{
    width: 80%;
  }
  h3 {
    text-align: center;
  }
  .wrapper {
    width: 80%;
  }
  #list span:nth-child(1) {
    width: 100%;
    font-size: 1rem;
  }
  #list span:nth-child(2) {
    width: 60%;
    font-size: 0.8rem;
  }
}
